<launch>
  <arg name="tb3"   default="open_manipulator"/>
  <arg name="end_effector" default="gripper"/>

  <node name="ms3_v1" pkg="ms3" type="ms3_v1" output="screen">
    <remap from="kinematics_pose" to="$(arg end_effector)/kinematics_pose"/>
    <param name="end_effector_name" value="$(arg end_effector)"/>
  </node>
</launch>
